# ==============================================================================
# FICHIER D'EXEMPLE DES VARIABLES D'ENVIRONNEMENT (.env.example)
# Module I347 - Virtualisation d'une application avec conteneurs
# Binôme : Kodjo & Selle
# ==============================================================================
# Instructions : Copiez ce fichier sous le nom '.env' et adaptez les valeurs.
# Note : Le fichier '.env' réel contient les secrets et est ignoré par Git.

# --- Configuration de la Base de Données PostgreSQL ---
POSTGRES_USER=appuser
POSTGRES_PASSWORD=change_this_secret_password_123
POSTGRES_DB=inventory_db
POSTGRES_PORT=5432
POSTGRES_HOST=database

# --- Configuration de l'Application Flask (Backend) ---
FLASK_ENV=production
FLASK_PORT=5000
APP_VERSION=1.0.0
APP_NAME=CloudAsset Manager

# --- Configuration du Frontend Nginx ---
FRONTEND_PORT=8080

# --- Configuration de publication Docker Hub (Sujet 10) ---
DOCKERHUB_USERNAME=keyshi9
DOCKERHUB_IMAGE_NAME=i347-flask-inventory-api
DOCKERHUB_TAG=1.0.0
